<section>
    <app-image-upload  #firstImage></app-image-upload>

    <div class="drag-container" *ngIf="(firstImage?.statusChanged | async) && drag">

        <img class="icon_upload" src="../../../assets/icons/plus-svgrepo-com.svg" width="45" height="45"
        cdkDrag
        (cdkDragEnded)="onDragEnded($event)"
        cdkDragBoundary=".drag-container"
        cdkDragLockAxis="x"
        *ngIf="secondImage?.statusChanged | async"
        >
        <div class="line"></div>
    </div>
    <app-morph *ngIf="morph" ></app-morph>

    <app-image-upload #secondImage *ngIf="firstImage?.statusChanged | async"></app-image-upload>
</section>